body {
    background-color: #FFC5D3;
    color: #000000;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: .5;
    text-align: left;
}

.navbar-nav {
    display: flex;
    align-items: right;
    justify-content: flex-end;
    padding-right: 20px;
}


.nav-item {
    color: #000000;
    margin-left: auto; 
    text-decoration: none;
}


.btn.btn-primary {
    background-color: #000000;
    color: #FFFFFF;
}

.mb-3 {
    margin-bottom: 1rem;
    
}

.save-btn {
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.login-btn {
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.register-btn {
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}